
#wrap{perspective:800px;width:100%;overflow:hidden;perspective-origin:50% 50%;}
#nav{position:fixed;right:55px;top:20px;width:500px; height:40px;z-index:1000; }
#nav li{width:70px;height:30px;margin-right:15px; font:14px/30px bold;text-align: center;display:inline-block;border-radius:18px;font-family: "方正兰亭细黑_GBK";color:#fff;cursor: pointer}
#nav li.active{font-weight:bold;background:#fff;color:#000;position: absolute;top:0;left:0}
#pageGroup { height:100%;width:100%; }
#pageGroup .page{width:100%;height:100%;transition:0.4s;position: absolute;left: 0;top:0;transform-origin:bottom;}
#page1{transform-origin:bottom;transform:rotateX(0deg);}
#page2,#page3,#page4{transform:rotateX(120deg);transform-origin:bottom;}
/*上下切换按钮*/
a.globalBtn{display:block;width:50px;height:50px;position:fixed;right:50px;}
a.globalBtn img{opacity: 0.5;transition:0.6s ease-in}
a.globalBtn img:hover{opacity:1}
a.prev{top:300px; }
a.next{top:350px;}

#page1 #header{ width:100%;height:200px; background:#13df80;position:relative;}
#page1 #header .portrait{ width:360px; height:200px;text-align:center;border:1px solid #000;position:absolute;left:50%;top:150px;margin-left:-180px;box-shadow:0px -30px 0px 20px rgba(0,0,0,0.2);background:#13df80 }
#page1 #header .portraitPic{height:100px;position:absolute;top:-45px;text-align:center}
#page1 #header .portrait img{width:100px; height:100px;border-radius:50%;margin-left:130px;animation: shadow 1.5s infinite alternate;-webkit-animation: shadow 1.5s infinite alternate;-moz-animation: shadow 1.5s infinite alternate }
#page1 #header .portrait h2{margin-top:60px;}

@keyframes shadow{
   0%{box-shadow: 0 0 4px 5px #fff}
  100%{box-shadow:0 0 0 0}
}
@-webkit-keyframes shadow{
   0%{box-shadow: 0 0 4px 5px #fff}
  100%{box-shadow:0 0 0 0}
}
@-moz-keyframes shadow{
   0%{box-shadow: 0 0 4px 5px #fff}
  100%{box-shadow:0 0 0 0}
}
/*图标导航*/
#page1 .iconWrap{width:480px;height:120px;margin:170px auto }
#page1 .iconWrap ul{width:100%}
#page1 .iconWrap ul li{width:120px;height:80px;float:left;background:#ccc;transition:0.2s ease-in }
#page1 .iconWrap ul li a{display: inline-block;width:150px;height:80px;}
#page1 .iconWrap ul li:nth-of-type(1){background:url('../img/bg-icon.png') no-repeat 25px -695px }
#page1 .iconWrap ul li:nth-of-type(2){background:url('../img/bg-icon.png') no-repeat 25px -17px}
#page1 .iconWrap ul li:nth-of-type(3){background:url('../img/bg-icon.png') no-repeat 25px -475px}
#page1 .iconWrap ul li:nth-of-type(4){background:url('../img/bg-icon.png') no-repeat 25px -242px}

#page1 .iconWrap ul li:nth-of-type(1):hover{background:url('../img/bg-icon.png') no-repeat 25px -812px }
#page1 .iconWrap ul li:nth-of-type(2):hover{background:url('../img/bg-icon.png') no-repeat 25px -123px }
#page1 .iconWrap ul li:nth-of-type(3):hover{background:url('../img/bg-icon.png') no-repeat 25px -584px }
#page1 .iconWrap ul li:nth-of-type(4):hover{background:url('../img/bg-icon.png') no-repeat 25px -358px }

/*首页页脚图标区*/
#page1 #footer{width:100%; height:120px; background:#39434f;position:fixed;bottom:0;text-align:center;padding-top: 10px;box-sizing:border-box;color:#ccc}
.head{ background:#13df80; height:120px;}
#page2{ background:#ecf1ef}
#page2 .contBox{width:60%;margin:20px auto;position:relative}
#page2 .ltCont{width:55%;float:left}
#page2 .rtCont{width:45%;float:right;font-size:14px;}
#page2 .rtCont p{padding:2px;letter-spacing: 1px;}
#page2 .pInfo{ position:absolute;transition:0.2s;transform-origin:bottom;width:100%;padding-bottom:5px;}
#page2 .pInfo:nth-of-type(1){z-index:2;background:#ccc;;width:180px; height:400px; }
#page2 .pInfo:nth-of-type(2){z-index:3;background:#666;;width:220px; height:420px;}
#page2 .pInfo:nth-of-type(3){z-index:5;width:350px; height:430px;padding-bottom:10px;font-size:14px;}
#page2 .pInfo table{width:100%;box-shadow:5px 6px 5px #999; background:#fff; }
#page2 .pInfo table th{text-align:center;font-size: 22px;font-weight:bold;padding-top:5px;  }
#page2 .pInfo table td{padding:10px;}
#page2 .pInfo  table.font tr:nth-of-type(odd){background:#ddd}
#page2 .pInfo table tr:hover{background:#13df80}

/*个人信息icon列表*/
#page2 .name{background:url("../img/bg-icon2.png") no-repeat 0 -421px}
#page2 .phone{background:url("../img/bg-icon2.png") no-repeat 0 -87px}
#page2 .qq{background:url("../img/bg-icon2.png") no-repeat 0 -127px}
#page2 .school{background:url("../img/bg-icon2.png") no-repeat 0 -207px}
#page2 .degree{background:url("../img/bg-icon2.png") no-repeat 0 -168px}
#page2 .major {background:url("../img/bg-icon2.png") no-repeat 0 -316px}
#page2 .email {background:url("../img/bg-icon2.png") no-repeat 0 -240px}
#page2 .address {background:url("../img/bg-icon2.png") no-repeat 0 -279px}
#page2 .age{background:url("../img/bg-icon2.png") no-repeat 0 -563px}
#page2 .github{background:url("../img/bg-icon2.png") no-repeat 0 -618px}
#page2 .txtAlignLeft{text-align:right}
#page2 h1{cursor:pointer;font-weight:bold}
#page2 h2{margin-top:10px;}
#page2 .skillList{width:100%; height:auto !important;height:100px;min-height:100px;}
#page2 .skillList li{width:70px;height:30px;line-height:30px;text-align:center;box-shadow: 0 0 3px #000;float:left;margin:5px;transition:0.15s ease-out;padding-bottom:7px;}
#page2 .skillList li:hover{transform:scale(1.5); background:#13df80;}
/*工作经验列表*/
#page3 .experienceList{width:60%;margin:5px auto;}
#page3 .experienceList li{width:100%;min-height: 80px;border-bottom: 1px dashed #000;padding:10px 0}

#page3 .list-lf{float:left;width:40%;}
#page3 h2{font:bold 24px "微软雅黑";}
#page3 .list-rf{float:left;width:56%;height:100%;font-size:12px;line-height:22px;font-size:14px;}


#page4 .lis{width:70%;margin: 10px auto;;font-size:14px;}
#page4 .lis table td{padding:6px;}
#page4 .interst li{ float:left;width:100px; height:30px;margin-top:10px;}
#page4 .interst li:nth-of-type(1){ background:url('../img/intest.png') no-repeat 0 -330px }
#page4 .interst li:nth-of-type(2){ background:url('../img/intest.png') no-repeat 0 -294px }
#page4 .interst li:nth-of-type(3){ background:url('../img/intest.png') no-repeat 0 -257px }
#page4 .interst li:nth-of-type(4){ background:url('../img/intest.png') no-repeat 0 -216px }
#can{position:absolute;bottom:0;left:0}
